/*! # Genesis Sample Child Theme using SCSS  
Theme Name: Genesis Sample Theme with SCSS  
Theme URI: http://my.studiopress.com/themes/genesis/  
Description: This is the sample theme created for the Genesis Framework re-worked with SCSS   
Author: StudioPress & Ronald Fuquay 
Author URI: http://www.studiopress.com/  
Template: genesis  
Template Version: 2.1.2  
Tags: black, orange, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready  
License: GPL-2.0+  
License URI: http://www.gnu.org/licenses/gpl-2.0.html  
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Retina Display
	- Max-width: 1200px
	- Max-width: 960px
	- Max-width: 800px
*/

@import "modules/variables";


/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */


@import "partials/01-html5-reset/baseline-normalize";
@import "partials/01-html5-reset/box-sizing";
@import "partials/01-html5-reset/float-clearing";


/* # Defaults
---------------------------------------------------------------------------------------------------- */


@import "partials/02-defaults/typographical-elements";
@import "partials/02-defaults/headings";
@import "partials/02-defaults/objects";
@import "partials/02-defaults/gallery";
@import "partials/02-defaults/forms";
@import "partials/02-defaults/tables";


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */


@import "partials/03-structure-and-layout/site-containers";
@import "partials/03-structure-and-layout/column-widths-and-positions";
@import "partials/03-structure-and-layout/column-classes";


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

@import "partials/04-common-classes/avatar";
@import "partials/04-common-classes/genesis";
@import "partials/04-common-classes/search-form";
@import "partials/04-common-classes/titles";
@import "partials/04-common-classes/wordpress";


/* # Widgets
--------------------------------------------------------------------------------------------------- */


@import "partials/05-widgets/widgets";
@import "partials/05-widgets/featured-content";


/* # Plugins
---------------------------------------------------------------------------------------------------- */

@import "partials/06-plugins/genesis_enews-extended";
@import "partials/06-plugins/jetpack";


/* # Site Header
---------------------------------------------------------------------------------------------------- */

@import "partials/07-site-header/site-header";
@import "partials/07-site-header/title-area";
@import "partials/07-site-header/widget-area";




/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

@import "partials/08-site-navigation/site-navigation";
@import "partials/08-site-navigation/header-navigation";
@import "partials/08-site-navigation/primary-navigation";
@import "partials/08-site-navigation/secondary-navigation";



/* # Content Area
------------------------------------------------------------------------------------------------------ */

@import "partials/09-content-area/entries";
@import "partials/09-content-area/entry-meta";
@import "partials/09-content-area/pagination";
@import "partials/09-content-area/comments";



/* # Sidebars
---------------------------------------------------------------------------------------------------- */

@import "partials/10-sidebars/sidebars";


/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */


@import "partials/11-footer-widgets/footer-widgets";


/* # Site Footer
---------------------------------------------------------------------------------------------------- */


@import "partials/12-site-footer/site-footer";



/* # Media Queries
--------------------------------------------------------------------------------------------------- */

@import "partials/13-media-queries/max-width-1200";
@import "partials/13-media-queries/max-width-960";
@import "partials/13-media-queries/max-width-800";




