.sidebar {
	font-size: 16px;
    li {
        border-bottom: 1px dotted #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }   
    & p:last-child,
    & ul > li:last-child {
        margin-bottom: 0;
    }  
    .widget {
        background-color: #fff;
        margin-bottom: 40px;
        padding: 40px;
    }    
}
