/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
	border-bottom: 2px solid $almost-white;
	margin-bottom: 20px;
	padding: 0 0 24px;
}

.footer-widgets .entry {
	border-bottom: 1px dotted $darker-grey;
}

.featured-content .entry-title {
	font-size: 20px;
}