/* ## Avatar
--------------------------------------------- */

.avatar {
	float: left;
    .alignleft &,
    .author-box & {
        margin-right: 24px;
    }
    .alignright & {
        margin-left: 24px;
    }
    .comment & {
        margin: 0 16px 24px 0;
    }
}