/* ## Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background-color: $white;
	font-size: 16px;
	margin-bottom: 40px;
	padding: 40px;
    p:last-child {
        margin-bottom: 0;
    }    
}

.author-box-title {
	font-size: 16px;
	margin-bottom: 4px;
}

