/* ## Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
    .site-header & {
        float: right;
        margin-top: 12px;
    }
    .entry-content &,
    .site-header & {
        width: 50%;
    }
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}