/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 36px;
}

.entry-title a,
.sidebar .widget-title a {
	color: $title-text-color;
    &:hover {
	    color: $accent-color;
    }
}

.widget-title {
	font-size: 18px;
	margin-bottom: 20px;
    .footer-widgets & {
        color: $footer-widget-titles;
    }    
}

