/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
	color: $white;
}

.sidebar .widget.enews-widget {
	background-color: $primary-color;
}

.enews-widget input,
.enews-widget input:focus {
	border: 1px solid $primary-color;
}

.enews-widget input {
	font-size: 16px;
	margin-bottom: 16px;
    &[type="submit"] {
        background-color: $accent-color;
        color: $white;
        margin: 0;
        width: 100%;
    }
    &:hover[type="submit"] {
        background-color: $white;
        color: $primary-color;
    }
}

.enews form + p {
	margin-top: 24px;
}