
$primary-color    : #333;
$accent-color     : #e5554e;
$white            : #fff;
$light-grey       : #ddd;
$grey             : #999;
$darker-grey      : #666;
$almost-white     : #f5f5f5;

$body-background-color    : $almost-white;
$body-text-color          : $primary-color;
$title-text-color         : $primary-color;
$link-color               : $accent-color;
$link-hover-color         : $primary-color;
$border                   : $light-grey;
$border-hover             : $grey;
$footer-widget-titles     : $white;


$main-font-stack        : Lato, sans-serif;
$title-font-stack       : Lato, sans-serif;
