.genesis-nav-menu {
	clear: both;
	font-size: 16px;
	line-height: 1;
	width: 100%;
    .menu-item {
        display: inline-block;
        text-align: left;
    }
    a {
        color: $primary-color;
        display: block;
        padding: 30px 24px;
    }
    .sub-menu {
        left: -9999px;
        opacity: 0;
        position: absolute;
        -webkit-transition: opacity .4s ease-in-out;
        -moz-transition:    opacity .4s ease-in-out;
        -ms-transition:     opacity .4s ease-in-out;
        -o-transition:      opacity .4s ease-in-out;
        transition:         opacity .4s ease-in-out;
        width: 200px;
        z-index: 99;
        a {
            background-color: $white;
            border: 1px solid $light-grey;
            border-top: none;
            font-size: 14px;
            padding: 20px;
            position: relative;
            width: 200px;
        } 
        .sub-menu {
            margin: -55px 0 0 199px;
        }            
    }
    .menu-item:hover {
        position: static;
        > .sub-menu {
            left: auto;
            opacity: 1;
        }        
    }
    > .first > a {
        padding-left: 0;
    }
    > .last > a {
        padding-right: 0;
    }
    > .right {
        color: $white;
        float: right;
        list-style-type: none;
        padding: 30px 0;
        > a {
            display: inline;
            padding: 0;
        }        
    }
    > .rss > a {
        margin-left: 48px;
    }
    > .search {
        padding: 10px 0 0;
    }   
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $accent-color;
}

